@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
	--breakpoint-xs: 480px;

	--color-vs-gray-100: rgb(216, 218, 223);
	--color-vs-gray-200: rgb(150, 156, 169);
	--color-vs-gray-300: rgb(53, 56, 61);
	--color-vs-light-gray: rgb(36, 39, 45);
	--color-vs-dark-gray: rgb(31, 34, 39);
	--color-vs-red: rgb(237, 106, 94);
	--color-vs-yellow: rgb(245, 191, 79);
	--color-vs-green: rgb(99, 200, 86);
}

.fira-code {
	font-family: "Fira Code", monospace;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

* {
	font-family: monospace, "Fira Code";
	letter-spacing: -1px;
}

/** Reset Styles **/
/* *,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 */
